
  /*
  .navigationBar {
    background-color: rgb(25, 37, 58);
    display: flex;
    margin: 0px;
    padding: 16px 16px 8px 16px;
    align-items: baseline;
  }
  .tab{
    height:100%;
  }
  .tab a{
    display: block;
    text-decoration: none;
    padding: 0px 16px;
  }
  .tab p{
    margin: 0px;
    font-weight: 200;
    font-size: 16px;
    color: white;              
  }
  .homeTab a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .homeTab img{
    aspect-ratio: 1/1;
    margin-right: 12px;
  }
  .homeTab p{
    padding: 0px;
    font-weight: 400;
    font-size: 20px;
    color: white;  
  }
  */


  /*
  .row {
    display: flex;
    justify-content: center;
    padding-left: min(16px,5%);
    padding-right: min(16px,5%);
  }
  */
  /*
  .mainImageWrapper {
    background-color: rgb(255, 255, 255);
    aspect-ratio: 4/3; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .mainImage {
    object-fit: cover;
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.1, 0.1, 0, 1);
  }
  
  .mainImage:hover{
    transform: scale(1.1, 1.1);
    opacity: 0.9;
    filter: blur(2px);
  }
  */

  /* version 2 start from here */
  * {
    box-sizing: border-box;
  }
  hr{
    border: 1px solid rgb(238, 238, 238);
  }
  body{
    display: flex;
    flex-direction: row;
    font-family:Noto Sans TC; 
    margin: 0px;
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 0px ;
    background-color: rgb(248,248,248);
    color: rgb(38, 53, 85);
  }
  .firstColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    height: 100%;
    padding: 8px 0px;
    background-color: rgb(238,238,238);
  }
  .albumsList{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    width: 100%;
  }
  .albums{
    width: 100%;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .albums>img{
    border-radius: 4px;
  }
  .albums.default:hover{
    background-color: rgb(220,220,220);
  }
  .selectedAlbum{
    background-color: rgb(248,248,248);
  }
  .albums img{
    width: 100%;
  }
  .albumDescription>*{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding-top:4px;
    text-align: center;
  }
  .albumDescription .captions{
    padding-top: 0px;
  }
  .actionBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 4px 8px 0px 8px;
  }
  .actionBar .delete{
    border-radius: 12px;
    padding: 8px;
    height: 36px;
    width: 36px; 
  }
  .actionBar .delete>img{
    height: 20px;
    width: 20px;
  }
  .actionBar .delete:hover{
    background-color: #ffc9c9;
  }
  .actionBar .add{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    padding: 8px;
    height: 36px;
    margin-left: 4px;    
  }
  .actionBar .add>img{
    height: 20px;
    width: 20px;
    margin-right: 8px;
  }
  .actionBar .add:hover{
    background-color: #e4edf3;
    border: 1px;
    border: 2px solid rgb(38, 53, 85);
    padding: 4px;
  }
  .secondColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 100%;
    padding: 8px 0px;
  }
  .photosList{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    width: 100%;
  }
  .photos{
    width: 100%;
    padding: 8px 12px;
  }
  .photos>img{
    width: 100%;
    transition: transform 0.5s cubic-bezier(0.1, 0.1, 0, 1);
  }
  .photos.default>img:hover{
    transform: scale(1.08, 1.08);
    opacity: 0.8;
  }
  .selectedPhoto>img{
    transform: scale(1.08, 1.08);
  } 
  .photos.add>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(238,238,238);
    padding: 16px 0px;
    aspect-ratio: 16/9;
    border-radius: 12px;
    transition: transform 0.5s cubic-bezier(0.1, 0.1, 0, 1);
  }
  .photos.add>div:hover{
    transform: scale(1.08, 1.08);
    opacity: 0.8;
    background-color: rgb(220,220,220);
  }
  .button{
    padding: 8px 0px;
    margin: 0px;
    font-size: 10px;
    font-weight: 900;
  }
  .photos.add>img{
    width: 25%;
  }
   
  .listDescription{
    width: 100%;
    padding: 2px 12px 8px 12px;
  }
  .listDescription>*{
    margin: 0px;
  }
  .listDescription .captions{
    padding-top: 2px;
  }
  .mainSection{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    padding: 8px 0px;
  }
  .headerBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 2px 12px 8px 12px;
  }
  .actionIcon{
    border-radius: 12px;
    padding: 8px;
    height: 36px;
    width: 36px; 
  }
  .actionIcon>img{
    height: 20px;
    width: 20px;
  }
  .actionIcon:hover{
    background-color: #ffc9c9;
  }
  .infoBar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 0px;
  }
  .infoBar>*{
    margin: 0px;
  }
  .infoBar .captions{
    padding-top: 2px;
  }
  .mainImageWrapper{
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px 12px;
  }
  .mainImage{
    width: 100%;
    height:100%;
    object-fit: contain;
  }